html{
    background-color: black;
    
}

h1{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center ;
}

img{
    border: 5px solid white;
    width: 50%;
    margin: 100px;
}

div{
    text-align: center;
}
p{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center ;
}